<form class="employee-form" [formGroup]="form" dir="rtl" (ngSubmit)="onSubmit()">
  <!-- Arabic Names -->
  <div class="name-section">
    <mat-form-field>
      <mat-label>الأسم الأول بالعربيه</mat-label>
      <input matInput formControlName="arFirst">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الأسم الثاني بالعربيه</mat-label>
      <input matInput formControlName="arSecond">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الأسم الأوسط بالعربيه</mat-label>
      <input matInput formControlName="arMiddle">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الأسم الأخير بالعربيه</mat-label>
      <input matInput formControlName="arLast">
    </mat-form-field>
  </div>

  <!-- English Names -->
  <div class="name-section">
    <mat-form-field>
      <mat-label>الأسم الأول بالإنجليزية</mat-label>
      <input matInput formControlName="enFirst">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الأسم الثاني بالإنجليزية</mat-label>
      <input matInput formControlName="enSecond">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الأسم الأوسط بالإنجليزية</mat-label>
      <input matInput formControlName="enMiddle">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الأسم الأخير بالإنجليزية</mat-label>
      <input matInput formControlName="enLast">
    </mat-form-field>
  </div>

  <!-- Contact Info -->
  <div class="contact-section">
    <mat-form-field>
  <mat-label>البريد الإلكتروني</mat-label>
  <input matInput formControlName="email">
   <mat-error *ngIf="form.get('email')?.hasError('email')">
    البريد الإلكتروني غير صالح
  </mat-error>
  <mat-error *ngIf="form.get('email')?.hasError('emailExists')">
    البريد الإلكتروني مسجل بالفعل
  </mat-error>
</mat-form-field>
    <mat-form-field>
      <mat-label>كود الدولة</mat-label>
      <mat-select formControlName="countryCode">
        <mat-option value="SAU" >SAU 966</mat-option>
        <mat-option value="EGY">EGY 20</mat-option>
        <mat-option value="UAE">UAE 971</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>رقم الجوال</mat-label>
      <input matInput type="tel" formControlName="phone">
    </mat-form-field>
  </div>

  <!-- Personal Info -->
  <div class="personal-section">
    <mat-form-field>
      <mat-label>تاريخ الميلاد</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>رقم الهوية</mat-label>
      <input matInput formControlName="nationalId">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الرقم الوظيفي</mat-label>
      <input matInput formControlName="jobNumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>الجنس</mat-label>
      <mat-select formControlName="gender">
      <mat-option value="male">ذكر</mat-option>
       <mat-option value="female">أنثى</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>الحالة الإجتماعية</mat-label>
      <mat-select formControlName="maritalStatus">
        <mat-option value="single">أعزب</mat-option>
        <mat-option value="married">متزوج</mat-option>
        <mat-option value="divorced">مطلق</mat-option>
        <mat-option value="widow">أرمل</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Address -->
  <div class="address-section">
    <mat-form-field class="full-width">
      <mat-label>العنوان باللغة العربية</mat-label>
      <textarea matInput formControlName="addressAr"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>العنوان باللغة الإنجليزية</mat-label>
      <textarea matInput formControlName="addressEn"></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit">إرسال</button>
</form>
